@fontColor: '#ccc';
@keyframes Login {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes EntryAnimation{
  0% {height: 50vh;}
  100% {height: 0;}
}
@keyframes roilGear {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}
.modal {
  width: 0px;
  height: 100vh;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .top, .bottom {
    width: 100vw;
    height: 50vh;
    animation: EntryAnimation 3s ease-in forwards;
    animation-delay: .5s;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    .gear {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      position: absolute;
      bottom: -50px;
      left: 50%;
      margin-left: -50px;
      background-image: url('./images/gear.jpeg');
      background-size: 100% 100%;
      animation: roilGear 3s ease-in;
      animation-delay: .5s;
    }
  }
  .bottom {
    .gear {
      top: -50px;
    }
  }
}
.registerWapper {
  width: 100%;
  height: 100vh;
  padding: 100px 20px 0;
  box-sizing: border-box;
  &.firstCome {
    opacity: 0;
    animation: Login 1s ease-in-out forwards;
    animation-delay: 3.5s;
  }
  .logo {
    margin: 0 auto 30px;
    width: 88px;
    height: 88px;
    border-radius: 50% 50%;
    overflow: hidden;
    background-image: url("./images/logo.png");
    background-size: 100% 100%;
  }
  .login {
    margin-bottom: 30px;
    border-radius:5px ;
    overflow: hidden;
    .am-list {
      font-size: 12px;
      color: @fontColor;
      .am-list-body {
        &::before, &::after {
          display: none;
        }
        .am-input-label {
          opacity: .6;
        }
        .am-input-control {
          input::placeholder {
            font-size: 16px;
          }
        }
      }
    }
  }
  .logon {
    margin-bottom: 30px;
    text-align: right;
    color: blue;
    opacity: .6;
  }
}
